*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{text-decoration: none;}
ul{
    list-style: none;
}
body {background: linear-gradient(to right, #200122, #6f0000);}


/* nav bar start============================================================== */

nav ul {text-align: center;
transition: 0.9s;}
nav ul li {display: inline-block;
padding: 20px 30px;
position: relative;
}
    
   nav ul li a{color: #0be3ff;
background-color: rgb(177, 16, 209);
display: inline-block;
padding: 10px;
margin: 20px auto;
font-family: Arial, Helvetica, sans-serif;
text-transform: capitalize;
border-radius: 6px;
border: 2px solid #94ca15;
}
/* submenu start here===================================================== */

nav ul li ul{position: absolute;
background-color: #8a8a8a;
border-radius: 10px;
text-align: center;
opacity: 0;
visibility: hidden;
margin-top: 30px;}
nav ul li:hover > .submenu{opacity: 1;
visibility: visible;
margin-top: 0%;}

nav ul li ul li{display: block;}


nav .submenu a{border:2px solid #6f0000;
display: block;
color: rgb(102, 255, 0);}

nav .submenu .submenu{left: 100%;
top: 0; width: 400px;}
/* second submenu start here============== */
.submenu-2{color: aliceblue;
text-align: center;
padding: 50px;
margin: 50px auto;


}
